<script src="@{'/public/javascripts/completionDetails.js'}" 
		type="text/javascript" charset="${_response_encoding}"></script>
		
    <div class="crudField crud_list status_details">
    	<label>
        	StockMovements
    	</label>
    	 <ul>
			#{list items:movements, as:'movement'}
    		<li>${movement.movement}</li>
			#{/list}
		</ul>
    </div>
    
    <div class="crudField crud_number status_details">
    	<label>
        	Completion
    	</label>
			${order.allocatedQuantity()}/${order.quantity}
    </div>

    <button type="button" id="showButton" onclick="showHideDetails()">Show Less</button>